* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
/* container */
.container {
  --primary-color: #512da8;
  --secondary-color: #673ab7;
  --third-color: #d1c4e9;
  --accent-color: #009688;
  --primary-text: #212121;
  --secondary-text: #757575;
  --section-padding: 40px;
}
/* navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  z-index: 2;
}
.navbar__logo {
  display: inline-block;
  font-weight: 700;
  padding: 14px;
  color: #fff;
  text-decoration: none;
}
.navbar__logo:hover {
  background-color: var(--accent-color);
  cursor: pointer;
}
.navbar__link {
  display: inline-block;
  padding: 14px 30px;
  text-decoration: none;
  color: #fff;
}
.navbar__link:hover {
  border-bottom: 6px solid var(--accent-color);
  padding-bottom: 8px;
}
/* welcome */
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  background: linear-gradient(
    -45deg,
    var(--primary-color),
    var(--secondary-color),
    var(--accent-color)
  );
}
.welcome__data {
  padding-top: 10vh;
  text-align: center;
  color: #fff;
}
.welcome__title {
  font-size: 3em;
}
.welcome__text {
  font-size: 2.5em;
  font-weight: 300;
}
.welcome__action {
  display: block;
  width: fit-content;
  text-decoration: none;
  margin: 0 auto;
  font-size: 1.5em;
  padding: 15px;
  border: none;
  color: #fff;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
  background-color: var(--primary-color);
}
.welcome__action:hover {
  animation-name: colorify;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
}
.welcome__arrow {
  text-align: center;
  opacity: 0.5;
}
.welcome__arrow-icon {
  color: #fff;
}
/* about */
.about {
  background-color: var(--third-color);
  padding: var(--section-padding) 0;
}
.about__title {
  text-align: center;
  color: var(--primary-text);
  font-size: 2.5em;
}
.about__title::after {
  content: '';
  display: block;
  border: 3px solid var(--accent-color);
  width: 125px;
  margin: 5px auto;
}
.about__description {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about__photo-container {
  margin: 0 auto;
}
.about__photo {
  border-radius: 10%;
  border: 6px solid var(--accent-color);
}
.about__text-container {
  color: var(--primary-text);
  text-align: justify;
  font-size: 1.5em;
  width: 70%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* skills */
.skills {
  margin-top: 10px;
  background-color: var(--secondary-color);
  padding: var(--section-padding);
}
.skills__title {
  text-align: center;
  font-size: 2.5em;
  color: #fff;
  margin-top: 0;
  padding-top: 35px;
}
.skills__title::after {
  content: '';
  display: block;
  border: 3px solid var(--accent-color);
  width: 110px;
  margin: 5px auto;
}
.skills__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skills__item {
  margin: 20px auto;
}
.skills__icon-container {
  background-color: #fff;
  border-radius: 10px;
  border: 6px solid var(--accent-color);
  min-width: 250px;
}
.skills__icon {
  text-align: center;
  padding: 20px;
  border-radius: 4px;
  color: var(--primary-color);
  display: block;
  background: -webkit-linear-gradient(
    -180deg,
    var(--primary-color),
    var(--third-color)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.skills__subtitle {
  color: #fff;
  font-size: 1.3em;
  font-weight: 700;
}
.skills__list {
  color: #fff;
  font-size: 1.1em;
}
.skills__list > li {
  line-height: 1.5;
}
/* practice & project*/
.practice,
.project {
  padding: var(--section-padding) 0;
}
.practice__title,
.project__title {
  text-align: center;
  font-size: 2.5em;
  color: var(--primary-text);
}
.practice__title::after,
.project__title::after {
  content: '';
  display: block;
  border: 3px solid var(--accent-color);
  width: 300px;
  margin: 5px auto;
}
.practice__group,
.project__group {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.practice__link,
.project__link {
  text-decoration: none;
  color: #fff;
}
.practice__item,
.project__item {
  padding-top: 20px;
  margin: 20px 15px;
  text-align: center;
  width: 40%;
  border-radius: 6px;
  color: #fff;
  background-color: var(--secondary-color);
}
.practice__item:hover,
.project__item:hover {
  animation-name: colorify;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
.practice__item-title,
.project__item-title {
  font-size: 1.3em;
  font-weight: 400;
}
/* contact */
.contact {
  padding: var(--section-padding) 0;
  background-color: var(--third-color);
}
.contact__title {
  font-size: 2.5em;
  text-align: center;
  color: var(--primary-text);
}
.contact__title::after {
  content: '';
  display: block;
  border: 3px solid var(--accent-color);
  width: 300px;
  margin: 5px auto;
}
.contact__text {
  text-align: center;
  color: var(--secondary-text);
  font-size: 1.3em;
  font-weight: 300;
}
.contact__group {
  width: 70%;
}
.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.contact__input {
  padding: 12px 20px;
  width: 100%;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.contact__textarea {
  font-family: 'Roboto', sans-serif;
  border: 1px solid #ccc;
  resize: none;
  width: 100%;
  height: 8em;
  margin: 8px 0;
  padding: 12px 20px;
  border-radius: 4px;
  display: block;
}
.contact__submit {
  margin: 8px 0;
  font-size: 1em;
  padding: 15px;
  border: none;
  color: #fff;
  border-radius: 4px;
  font-weight: 700;
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
  background-color: var(--primary-color);
}
.contact__submit:hover {
  color: #fff;
  animation-name: colorify;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
}
/* download */
.download {
  padding: var(--section-padding) 0;
  background-color: var(--secondary-color);
}
.download__button {
  text-decoration: none;
  font-size: 1.5em;
  padding: 15px;
  border: none;
  color: #fff;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
  background-color: var(--accent-color);
  margin: 0 auto;
  display: block;
  width: fit-content;
}
/* footer */
.footer__social-links {
  color: #fff;
  list-style: none;
  background-color: var(--light-secondary-color);
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
}
.footer__sl {
  display: inline-block;
  padding: 10px;
  border-radius: 6px;
  color: var(--secondary-color);
}
.footer__sl:hover {
  background-color: var(--accent-color);
  color: #fff;
}
.footer__text {
  color: #fff;
  text-align: center;
  background-color: var(--primary-color);
  line-height: 3;
}
/* keyframes */
@keyframes colorify {
  0% {
    background-color: var(--secondary-color);
  }
  100% {
    background-color: var(--accent-color);
  }
}
/* diagonal separator */
.diagonal {
  margin: -10px 0 -11px 0;
}
.diagonal__top--about {
  width: 100%;
  height: 90px;
  background-color: var(--third-color);
  -webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  margin-top: 9px;
}
.diagonal__bottom--about {
  width: 100%;
  height: 90px;
  background: var(--secondary-color);
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 99%);
  clip-path: polygon(100% 0, 0 100%, 100% 99%);
}
.diagonal__top--contact {
  width: 100%;
  height: 90px;
  background-color: #fff;
  -webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
  clip-path: polygon(100% 0, 0 0, 0 100%);
}
.diagonal__bottom--contact {
  width: 100%;
  height: 90px;
  background: var(--third-color);
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 99%);
  clip-path: polygon(100% 0, 0 100%, 100% 99%);
  margin-top: -90px;
}
/* media queries */
@media (min-width: 1080px) {
  /* center content on large screen */
  .about__description,
  .skills__group,
  .contact__form {
    margin: 0 200px;
  }
  /* skills */
  .skills__group {
    justify-content: space-between;
  }
  /* projects & practices */
  .practice,
  .project {
    margin: 0 200px;
  }
}
@media (max-width: 768px) {
  /* navbar */
  .navbar__left {
    text-align: center;
  }
  .navbar__right {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .navbar__right::after {
    background-image: linear-gradient(
      to right,
      rgba(22, 29, 37, 0),
      var(--secondary-color)
    );
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    z-index: 1;
    width: 60px;
  }
  /* welcome */
  .welcome__arrow-icon {
    display: none;
  }
  /* about-section */
  .about__description {
    flex-direction: column;
  }
  .about__text-container {
    width: 80%;
  }
}
@media (max-width: 576px) {
  /* practice-section */
  .practice__item,
  .project__item {
    width: 100%;
  }
  /* underlines shorter */
  .about__title::after {
    width: 75px;
  }
  .practice__title::after {
    width: 200px;
  }
  .project__title::after {
    width: 175px;
  }
  .contact__title::after {
    width: 150px;
  }
  /* reduce titles */
  .welcome__title {
    font-size: 2em;
  }
  .welcome__text {
    font-size: 1.5em;
  }
  .about__title,
  .skills__title,
  .practice__title,
  .project__title,
  .contact__title {
    font-size: 2em;
  }
}
